# Pixi and Environment
.pixi/

# Compiled Binaries and Build Artifacts
main
aesir_main
test
test_engine
test_server_loop
*.o
*.so
*.dylib
*.dll
*.exe
*.gguf

# Temporary files & logs
*.log
.aesir/
.aesir-test-model-store-*
.DS_Store
__pycache__/
*.py[cod]
